.card {
  height: 480px;
  width: 250px;
  padding: 15px;
  margin: 15px;
}

.users-body {
  display: flex;
  position: relative;
}

.users-boxcolor {
  width: 100%;
  position: absolute;
  background-color: rgb(246, 185, 99);
  height: 650px;
}

.users-textbox {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: auto;
  padding: 50px;
  padding-bottom: 90px;
}
.users-title {
  display: flex;
  justify-content: flex-start;
  font-family: "Bitter", serif;
  margin-bottom: 0;
  font-size: 17px;
  height: 30px;
}

.users-info {
  display: flex;
  text-align: left;
  font-family: "Bitter", serif;
  font-size: 27px;
  /* margin-bottom: 15px; */
}

.search-title {
  display: flex;
  justify-content: flex-start;
  font-family: "Bitter", serif;

  font-size: 17px;
  height: 30px;
}

.search-input-container {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: none;
}

input {
  display: flex;
  justify-content: flex-start;
  font-family: "Bitter", serif;
  height: 50px;
  border-radius: 10px;
  margin-top: 3px;
  padding-top: none;
}
.search-input {
  margin-top: 5px;
  padding-bottom: none;
}
