.navbar-shelter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 30px;
}
.shelter-nav-link1 {
  display: flex;
  flex-direction: row;
  color: black;
  height: 30px;
  width: 100%;
  text-align: left;
  font-size: 20px;
  font-family: "Bitter", serif;
  letter-spacing: 1px;
}
.shelter-nav-link1:hover {
  color: white;
}
.shelter-nav-link-right li {
  display: inline-block;
}
.shelter-nav-link-right {
  position: absolute;
  right: 70px;
}

.shelter-nav-link2 {
  color: black;
  height: 30px;
  width: 130px;
  text-align: left;
  font-size: 16px;
  letter-spacing: 1px;
}
.shelter-nav-link2:hover {
  color: white;
}
.shelter-nav-link3 {
  color: black;
  height: 30px;
  width: 110px;
  text-align: left;
  font-size: 16px;
  letter-spacing: 1px;
}
.shelter-nav-link3:hover {
  color: white;
}
.shelter-nav-link4 {
  color: black;
  height: 30px;
  width: 140px;
  text-align: left;
  font-size: 16px;
  letter-spacing: 1px;
}
.shelter-nav-link4:hover {
  color: white;
}

.shelter-nav-link5 {
  color: black;
  height: 30px;
  width: 140px;
  text-align: left;
  font-size: 16px;
  letter-spacing: 1px;
}
.shelter-nav-link5:hover {
  color: white;
}
.shelter-nav-link6 {
  color: black;
  height: 30px;
  width: 100px;
  text-align: left;
  font-size: 16px;
  letter-spacing: 1px;
}
.shelter-nav-link6:hover {
  color: white;
}
