/* .navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nav-link {
  display: flex;

  position: absolute;
  font-family: "Oswald";
  font-size: 16px;
  letter-spacing: 3px;
} */

.navbar-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 30px;
}

.side-nav-link1 {
  color: black;
  height: 30px;
  width: 100%;
  text-align: left;
  font-size: 20px;
  font-family: "Bitter", serif;
  letter-spacing: 1px;
}

.side-nav-link1:hover {
  color: white;
}

.side-nav-link-right li {
  display: inline-block;
}
.side-nav-link-right {
  position: absolute;
  right: 70px;
}

.side-nav-link2 {
  color: black;
  height: 30px;
  width: 160px;
  text-align: left;
  font-size: 16px;
  letter-spacing: 1px;
}
.side-nav-link2:hover {
  color: white;
}
.side-nav-link3 {
  color: black;
  height: 30px;
  width: 110px;
  text-align: left;
  font-size: 16px;
  letter-spacing: 1px;
}
.side-nav-link3:hover {
  color: white;
}
.side-nav-link4 {
  color: black;
  height: 30px;
  width: 125px;
  text-align: left;
  font-size: 16px;
  letter-spacing: 1px;
}
.side-nav-link4:hover {
  color: white;
}

.side-nav-link5 {
  color: black;
  height: 30px;
  width: 100px;
  text-align: left;
  font-size: 16px;
  letter-spacing: 1px;
}
.side-nav-link5:hover {
  color: white;
}
