.wizardtwo-body {
  display: flex;
  position: relative;
}

.wizardtwo-boxcolor {
  width: 100%;
  position: absolute;
  background-color: rgb(195, 165, 220);
  height: 650px;
}

.wizardtwo-textbox {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  padding: 110px;
  padding-bottom: 100px;
  background-color: white;
  -webkit-box-shadow: -6px 1px 115px 0px rgba(181, 151, 194, 1);
  -moz-box-shadow: -6px 1px 115px 0px rgba(181, 151, 194, 1);
  box-shadow: -6px 1px 115px 0px rgba(181, 151, 194, 1);
}

.wizardtwo-title {
  display: flex;
  justify-content: flex-start;
  font-family: "Bitter", serif;
  margin-bottom: 30px;
  font-size: 30px;
  height: 30px;
}

.wizardtwo-button {
  display: flex;
  justify-content: flex-end;

  margin-right: 200px;
  font-family: "Bitter", serif;
  margin-top: 20px;
  margin-bottom: none;
  /* padding-right: 15px; */
}

.wizardtwo-lowertext-container {
  display: flex;
  width: 50%;
  padding: 50px;
  margin-left: 570px;
}
.wizardtwo-lowertext {
  display: flex;
  justify-content: flex-end;
  font-family: "Bitter", serif;
  font-size: 14px;
}
