.carousel-fade .carousel-item {
  display: block;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.carousel-fade .carousel-item.active {
  opacity: 1;
  position: relative;
}

html,
body,
.carousel,
.carousel-inner,
.carousel-item {
  width: 100%;
  height: 100%;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  position: absolute;
  transition: opacity 1s ease-in-out;
}

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

.logo {
  position: absolute;
  margin-top: 35px;
  margin-left: 90px;
  font-family: "Bitter", serif;
  color: white;
  font-size: 25px;
}

.logo a {
  color: white;
}

.logo a:hover {
  color: white;
  text-decoration: none;
}

.login-home {
  position: absolute;
  margin-top: 35px;
  font-family: "Bitter", serif;
  color: white;
  font-size: 25px;
  right: 70px;
}

.login-home a {
  color: white;
}

.login-home a:hover {
  color: white;
  text-decoration: none;
}
.navbar-carousel {
  position: absolute;
  padding: 30px;
  margin: 60px;
  margin-top: 140px;
}

.navbar-carousel:hover + body {
  background: url(https://cdn.pixabay.com/photo/2016/12/13/05/15/puppy-1903313_960_720.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 100;
}
.getStartedButton {
  position: absolute;
  width: 300px;
  height: 150px;
  bottom: 0px;
  right: 25%;
  left: 50%;
  margin-left: -150px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.getStartedButton button {
  background-color: transparent;
  color: #ffffff;
  padding: 5px 30px;
  border: 3px solid;
  border-radius: 20px;
  font-size: 30px;
  font-family: "Bitter", serif;
  letter-spacing: 3px;
}

.getStartedButton button:hover {
  background-color: white;
  border: white;
  color: black;
}
