/* .navbar-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.navbar-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navbar-bottom {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  padding: 0;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.logo {
  display: flex;
} */
/* 
.navbar {
  display: block;
  float: left;
  margin: 0;

  background: none;
  width: 100%;

} */

.nav-link1 {
  display: flex;
  color: white;
  height: 60px;
  width: 384px;
  text-align: left;
}

/* .nav-link1:hover {
  background-image: url(https://cdn.pixabay.com/photo/2016/12/13/05/15/puppy-1903313_960_720.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
ul:hover li a {
  color: black;
}

ul li:hover a {
  color: white;
  transform: translate(25px, 0);
  -webkit-transform: translate(25px, 0); /** Chrome & Safari **/
  -o-transform: translate(25px, 0); /** Opera **/
  -moz-transform: translate(25px, 0); /** Firefox **/
}
.img1 {
  /* background-image: url("https://images.pexels.com/photos/356378/pexels-photo-356378.jpeg?auto=compress&cs=tinysrgb&h=350"); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  transition: 0.2s;
  opacity: 0;
}

.nav-link1:hover + img {
  opacity: 1;
}

.nav-link2 {
  color: white;
  height: 60px;
  width: 384px;
  text-align: left;
}
.nav-link3 {
  color: white;
  height: 60px;
  width: 384px;
  text-align: left;
}
.nav-link4 {
  color: white;
  height: 60px;
  width: 384px;
  text-align: left;
}

.nav-link5 {
  color: white;
  height: 60px;
  width: 384px;
  text-align: left;
}
.nav-link {
  font-family: "Bitter", serif;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 3px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out; /** Chrome & Safari **/
  -moz-transition: all 0.2s ease-in-out; /** Firefox **/
  -o-transition: all 0.2s ease-in-out; /** Opera **/
}
