/* .card {
  height: 480px;
  width: 250px;
  padding: 15px;
  margin: 15px;
} */

.card {
  font-family: "Bitter", serif;
}

.addpets-body {
  display: flex;
  position: relative;
}

.addpets-boxcolor {
  width: 100%;
  position: absolute;
  background-color: rgb(155, 116, 186);
  height: 650px;
}

.addpets-textbox {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: auto;
  margin-top: 50px;

  padding: 110px;
  padding-bottom: 100px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: -6px 1px 115px 0px rgba(181, 151, 194, 1);
  -moz-box-shadow: -6px 1px 115px 0px rgba(181, 151, 194, 1);
  box-shadow: -6px 1px 115px 0px rgba(181, 151, 194, 1);
}

.addpets-title {
  display: flex;
  justify-content: flex-start;
  font-family: "Bitter", serif;
  margin-bottom: 30px;
  font-size: 30px;
  height: 30px;
}

.addpets-button {
  display: flex;
  justify-content: center;
  font-family: "Bitter", serif;
  margin-right: 80px;
  margin-top: 60px;
  /* margin: auto; */

  /* margin-top: 50px;
  margin-left: 150px;
  margin-bottom: none; */
  padding: none;
}

.complete-button {
  margin-left: 100px;
}

label {
  font-family: "Bitter", serif;
}

placeholder {
  font-family: "Bitter", serif;
}

input::placeholder {
  font-family: "Bitter", serif;
}

form {
  font-family: "Bitter", serif;
}
