.shelterprofile-body:before {
  right: 0;
  content: "";
  display: block;
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 70%;
  background-color: rgba(228, 200, 253, 0.966);
}

.shelterprofile-mainbox {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.shelterprofile-mainbox-left {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  /* margin: 30px; */
  padding: 30px;
  width: 700px;
  height: 700px;
}

.user-pic-box {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 400px;
  padding: 30px;

  /* border: 1px solid black; */
  margin-bottom: 100px;
}

.user-pic-shelterprofile {
  margin-left: 50px;

  width: 370px;
  height: 250px;
}

.profile-bottom-left {
  height: 400px;
  width: 400px;
  margin-left: 200px;
  display: flex;

  /* margin-left: 200px; */
}

.profile-bottom-left-right {
  height: 200px;
  width: 200px;
  margin: auto;
  margin-right: 10px;
}

.address {
  width: 200px;
  height: 40px;
}

.shelterprofile-mainbox-right {
  /* border: 1px solid black; */
  /* margin: 30px; */
  padding: 30px;
  width: 600px;
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.profile-right {
  justify-content: flex-start;
  margin-top: 0;
  width: 550px;
  height: 650px;
}

.profile-top-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 50px;
}

.user-name-shelterprofile {
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
  font-family: "Bitter", serif;
}

.cityprofile {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
  font-size: 15px;
  font-family: "Bitter", serif;
}

.profile-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.aboutme-title {
  display: flex;
  justify-content: flex-start;
  font-size: 21px;
  height: 30px;
}

.aboutme-shelterprofile {
  display: flex;
  justify-content: flex-start;
  height: 80px;
  font-size: 15px;
  font-family: "Bitter", serif;
}

.profile-middle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 100px;
}
.mission-title {
  display: flex;
  justify-content: flex-start;
  font-size: 21px;
  height: 30px;
}

.mission {
  display: flex;
  justify-content: flex-start;
  height: 50px;
  font-size: 15px;
  font-family: "Bitter", serif;
}

.profile-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.policy-title {
  display: flex;
  justify-content: flex-start;
  font-size: 21px;
  height: 30px;
}

.policy {
  display: flex;
  justify-content: flex-start;
  height: 50px;
  font-size: 15px;
  font-family: "Bitter", serif;
}

p {
  font-family: "Bitter", serif;
}

#info {
  height: 40px;
  font-family: "Bitter", serif;
  font-size: 15px;
}

#edit-button {
  margin-left: 20px;
  height: 20px;
  font-size: 15px;
  /* margin: auto; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  border-radius: 2px;
  /* margin: 1px; */
  background-color: white;
  color: gray;
}

#save-button {
  margin-left: 20px;
  height: 20px;
  font-size: 15px;
  /* margin: auto; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: "Bitter", serif;
  border-radius: 2px;
  /* margin: 1px; */
  background-color: white;
  color: gray;
}

.card-box {
  margin: auto;
}

.add-pets-button {
  padding-bottom: 30px;
}

.adoptable-pets-cards-title {
  /* display: flex; */
  /* margin: auto; */
  /* justify-content: flex-start; */
  margin: auto;
  font-size: 32px;
  font-family: "Bitter", serif;
}

#sheltertext {
  font-size: 20px;
  font-family: "Bitter", serif;
}

#sheltertextsmall {
  font-size: 15px;
  font-family: "Bitter", serif;
}
