#adopt-info {
  /* display: flex; */
  /* justify-content: flex-start; */

  font-family: "Bitter", serif;
  font-size: 15px;
}

#save-button {
  margin-left: 20px;
  height: 20px;
  font-size: 15px;
  /* margin: auto; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: "Bitter", serif;
  border-radius: 2px;
  /* margin: 1px; */
  background-color: white;
  color: gray;
}
