#adopt-info {
  /* display: flex; */
  /* justify-content: flex-start; */

  font-family: "Bitter", serif;
  font-size: 15px;
}

.userprofile-body:before {
  right: 0;
  content: "";
  display: block;
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 65%;
  background-color: rgba(239, 243, 139, 0.966);
  /* border: 5px solid black; */
}
#save-button {
  margin-left: 20px;
  height: 20px;
  font-size: 15px;
  /* margin: auto; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: "Bitter", serif;
  border-radius: 2px;
  /* margin: 1px; */
  background-color: white;
  color: gray;
}
